<section id="abstract">
  <p>
    This is the most recent interoperability report for Vaccine Credentials using the <a href="https://w3c-ccg.github.io/vaccination-vocab/">Vaccine Certificate Vocabulary</a>.
  </p>
</section>
<section id="sotd">
</section>
