<section id="abstract">
  <p>
    This test suite shows inoperability between various issuers and verifiers
    of Vaccine Credentials that use the w3c's Vaccionation Vocabulary.
  </p>
</section>
<section id="sotd">
</section>
